<div class="container">
  <div class="row">
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 mt-2">Name: </div>
    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 mt-2">{{beer?.nameDisplay}}</div>
  </div>
  <div class="row"> 
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 mt-2">Description: </div>
    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 mt-2">{{beer?.description}}</div>
  </div>
  <div class="row">
      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 mt-2">Style: </div>
      <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 mt-2">{{beer?.style?.description}}</div>
    </div>
</div>